<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5WLCZXC');
    </script>
    <!-- End Google Tag Manager -->
    <meta name="author" content="Christopher Guindon"/>
    <meta name="keywords" content="Planet, Jakarta EE blogs, PlanetJakarta, Blogs Eclipse Jakarta EE, Jakarta EE"/>
    <link href="https://jakarta.ee/images/jakarta/favicon.ico" rel="icon" type="image/x-icon"/>
    <title>
      <TMPL_VAR name>
    </title>
    <link rel="stylesheet" href="//jakarta.ee/css/styles.css">
    <meta name="description" content="Jakarta Enterprise Edition (EE) is the future of cloud native Java. Jakarta EE open source software drives cloud native innovation, modernizes enterprise applications and protects investments in Java EE.">
    <meta property="og:description" content="Jakarta Enterprise Edition (EE) is the future of cloud native Java. Jakarta EE open source software drives cloud native innovation, modernizes enterprise applications and protects investments in Java EE."/>
    <meta property="og:image" content="https://jakarta.ee/images/jakarta/jakarta_ee_400x400.png" />
    <meta property="og:title" content="<TMPL_VAR name>"/>
    <meta property="og:image:width" content="200"/>
    <meta property="og:image:height" content="200"/>
    <meta itemprop="name" content="<TMPL_VAR name>"/>
    <meta itemprop="description" content="Jakarta Enterprise Edition (EE) is the future of cloud native Java. Jakarta EE open source software drives cloud native innovation, modernizes enterprise applications and protects investments in Java EE."/>
    <meta itemprop="image" content="https://jakarta.ee/images/jakarta/jakarta_ee_400x400.png"/>
    <meta name="twitter:site" content="@JakartaEEBlogs"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="<TMPL_VAR name>"/>
    <meta name="twitter:url" content="http://jakartablogs.ee"/>
    <meta name="twitter:description" content="Jakarta Enterprise Edition (EE) is the future of cloud native Java. Jakarta EE open source software drives cloud native innovation, modernizes enterprise applications and protects investments in Java EE."/>
    <meta name="twitter:image" content="https://jakarta.ee/images/jakarta/jakarta_ee_400x400.png"/>
    <link href="//fonts.googleapis.com/css?family=Libre+Franklin:400,700,300,600,100" rel="stylesheet" type="text/css"/>
    <link rel="alternate" type="application/atom+xml" title="<TMPL_VAR name> (Atom)" href="atom.xml" />
    <link rel="stylesheet" href="https://jakarta.ee/css/styles.css">
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
  </head>
  <body id="body_solstice">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WLCZXC"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <a class="sr-only" href="#content">Skip to main content</a>
    <header class="header-wrapper header-default-bg-img" id="header-wrapper">
      <div class="clearfix toolbar-container-wrapper">
        <div class="container">
          <div class="text-right toolbar-row row hidden-print">
            <div class="col-md-24 row-toolbar-col">
              <ul class="list-inline">
                <li><a class="toolbar-link toolbar-manage-cookies dropdown-toggle"><i class="fa fa-wrench"></i> Manage Cookies</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row" id="header-row">
          <div class="col-sm-5 col-md-4" id="header-left">
            <div class="wrapper-logo-default"><a href="<TMPL_VAR link>"><img class="hidden-xs" alt="logo" width="160" src="//jakarta.ee/images/jakarta/jakarta-ee-logo.svg"/></a></div>
          </div>
          <div class="col-sm-19 col-md-20 margin-top-10" id="main-menu-wrapper">
            <div class="navbar yamm float-sm-right" id="main-menu">
              <div class="navbar-collapse collapse" id="navbar-main-menu" style="padding-right:0;">
                <ul class="nav navbar-nav">
                  <li>
                    <a data-toggle="modal" href="#modalabout">
                    <i class="fa fa-question-circle orange"></i> About
                    </a>
                  </li>
                  <li>
                    <a data-toggle="modal" href="#modaladd">
                    <i class="fa fa-plus orange"></i> Add your blog
                    </a>
                  </li>
                  <li class="dropdown visible-xs">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Community <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="http://marketplace.eclipse.org">Marketplace</a></li>
                      <li><a href="http://events.eclipse.org">Events</a></li>
                      <li><a href="http://www.planeteclipse.org/">Planet Eclipse</a></li>
                      <li><a href="https://www.eclipse.org/community/eclipse_newsletter/">Newsletter</a></li>
                      <li><a href="https://www.youtube.com/user/EclipseFdn">Videos</a></li>
                      <li><a href="https://blogs.eclipse.org">Blogs</a></li>
                    </ul>
                  </li>
                  <li class="dropdown visible-xs">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Participate <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="https://bugs.eclipse.org/bugs/">Report a Bug</a></li>
                      <li><a href="https://www.eclipse.org/forums/">Forums</a></li>
                      <li><a href="https://www.eclipse.org/mail/">Mailing Lists</a></li>
                      <li><a href="https://wiki.eclipse.org/">Wiki</a></li>
                      <li><a href="https://wiki.eclipse.org/IRC">IRC</a></li>
                      <li><a href="https://www.eclipse.org/org/research/">Research</a></li>
                    </ul>
                  </li>
                  <li class="dropdown visible-xs">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Eclipse IDE <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="https://www.eclipse.org/downloads">Download</a></li>
                      <li><a href="https://help.eclipse.org">Documentation</a></li>
                      <li><a href="https://www.eclipse.org/getting_started">Getting Started / Support</a></li>
                      <li><a href="https://www.eclipse.org/contribute/">How to Contribute</a></li>
                      <li><a href="https://www.eclipse.org/ide/">IDE and Tools</a></li>
                      <li><a href="https://www.eclipse.org/forums/index.php/f/89/">Newcomer Forum</a></li>
                    </ul>
                  </li>
                  <!-- More -->
                  <li class="dropdown eclipse-more hidden-xs">
                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" style="margin-right:0;">More<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li>
                        <!-- Content container to add padding -->
                        <div class="yamm-content">
                          <div class="row">
                            <ul class="col-sm-8 list-unstyled">
                              <li><a href="https://jakarta.ee/about/">About Jakarta EE</a></li>
                              <li><a href="https://jakarta.ee/about/faq/">Frequently Asked Questions</a></li>
                              <li><a href="https://jakarta.ee/members/">Become a Member</a></li>
                              <li><a href="https://jakarta.ee/connect/">Stay Connected</a></li>
                              <li><a href="https://jakarta.ee/news/2018/04/24/jakarta-ee-community-survey/">2018 Developer Survey</a></li>
                            </ul>
                            <ul class="col-sm-8 list-unstyled">
                              <li><a href="https://eclipse.org/org/workinggroups/jakarta_ee_charter.php">Working Group Charter</a></li>
                              <li><a href="https://www.eclipse.org/ee4j/direction.php">Technical Direction</a></li>
                              <li><a href="https://jakarta.ee/newsletter">Newsletter Archives</a></li>
                              <li><a href="https://jakarta.ee/meeting_minutes">Meeting Minutes</a></li>
                              <li><a href="https://jakarta.ee/legal/trademark_guidelines/">Trademark Guidelines</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <div class="wrapper-logo-mobile">
                  <a class="navbar-brand visible-xs" href="<TMPL_VAR link>">
                    <img class="logo-eclipse-default-mobile img-responsive" alt="logo" width="160" src="//jakarta.ee/images/jakarta/jakarta-ee-logo.svg"/>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="breadcrumb" class="default-breadcrumbs margin-bottom-20 hidden-print">
      <div class="container">
        <div class="col-xs-15">
          <ol class="breadcrumb">
            <li><a href="https://jakarta.ee/">Home</a></li>
            <li class="active">Blogs</li>
          </ol>
        </div>
        <div class="col-xs-9 margin-top-5 text-right">
          <a href="https://twitter.com/JakartaEEBlogs" class="twitter-follow-button" data-show-count="false">Follow @JakartaEEBlogs</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </section>
    <main>
      <div class="container" id="novaContent">
        <!-- Start of content area -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#main-content" data-toggle="tab">Latest Posts</a></li>
          <li><a href="#blogs" data-toggle="tab">Blogs</a></li>
        </ul>
        <div class="tab-content background-white margin-bottom-30">
          <div class="tab-pane active" id="main-content">
            <TMPL_LOOP Items>
              <TMPL_IF new_date>
              <h2 class="date h2 page-header margin-top-0">
                <TMPL_VAR new_date>
              </h2>
              </TMPL_UNLESS>
              <div class="media">
                <a class="pull-left text-center hidden-xs" href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">" target="_blank">
                  <TMPL_IF channel_picture>
                    <img class="img-responsive" src="authors/<TMPL_VAR channel_picture ESCAPE="HTML">" alt="<TMPL_VAR channel_name>"/>
                    <br/>
                  </TMPL_IF>
                  <TMPL_VAR channel_name>
                </a>
                <div class="media-body">
                  <h1 class="media-heading">
                    <a href="<TMPL_VAR link ESCAPE="HTML">" title="Open blog <TMPL_VAR title ESCAPE="HTML">." target="_blank">
                      <TMPL_VAR title>
                    </a>
                  </h1>
                  <p class="moreinfo margin-bottom-20">
                    <small><TMPL_IF author>by <TMPL_VAR author> at </TMPL_IF><TMPL_VAR date></small>
                  </p>
                  <div class="media-body-content">
                    <TMPL_VAR content>
                  </div>
                  <hr class="margin-bottom-5"/>
                  <p class="moreinfo text-right">
                    <small>
                      <a href="<TMPL_VAR link ESCAPE="HTML">" title="Open blog <TMPL_VAR title ESCAPE="HTML">." target="_blank">
                        <TMPL_IF author>by <TMPL_VAR author> at </TMPL_IF><TMPL_VAR date>
                      </a>
                    </small>
                  </p>
                </div>
              </div>
            </TMPL_LOOP>
          </div>
          <!-- /#main-content -->
          <div id="blogs" class="tab-pane">
            <div class="row-fluid">
              <h2 class="page-header margin-top-0">Blogs</h2>
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Active Blogs
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <ul class="list-unstyled list-channels">
                        <TMPL_LOOP Channels>
                          <TMPL_UNLESS message>
                            <li>
                              <a href="<TMPL_VAR url ESCAPE="HTML">" title="subscribe">
                                <i class="fa fa-rss-square orange" aria-hidden="true"></i>
                              </a>
                              <a <TMPL_IF link>href="<TMPL_VAR link ESCAPE="HTML">" </TMPL_IF>title="Open <TMPL_VAR title_plain ESCAPE="HTML">." target="_blank"><TMPL_VAR name></a>
                            </li>
                          </TMPL_UNLESS>
                        </TMPL_LOOP>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      Inactive Blogs
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      <ul class="list-unstyled list-inline list-channels">
                        <TMPL_LOOP Channels>
                          <TMPL_IF message>
                            <li>
                              <a href="<TMPL_VAR url ESCAPE="HTML">" title="<TMPL_VAR message ESCAPE="HTML">">
                                <img src="images/feed-inactive-icon-10x10.png" alt="(inactive feed)" />
                              </a>
                              <a <TMPL_IF link>href="<TMPL_VAR link ESCAPE="HTML">" </TMPL_IF>title="<TMPL_VAR message ESCAPE="HTML">" target="_blank">
                              <TMPL_VAR name>
                              </a>
                            </li>
                          </TMPL_IF>
                        </TMPL_LOOP>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row-fluid -->
          </div>
          <!-- /#blogs -->
        </div>
        <!-- /.tab-content -->      
      </div>
    </main>
    <!-- /#main-content-container-row -->
    
    <div class="modal fade" id="modalabout" tabindex="-1" role="dialog" aria-labelledby="modalaboutLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">About JakartaBlogs.ee</h4>
          </div>
          <div class="modal-body">
            <p>Welcome to the blog home of open source, cloud native Java innovation! Read posts from our global community on Jakarta EE news, 
            technologies, best practices, and compatible products.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modaladd" tabindex="-1" role="dialog" aria-labelledby="modaladdLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Add your blog</h4>
          </div>
          <div class="modal-body">
            <p>Want to become a Jakarta Blogs author? To add your blog to the feed, please have a look at our 
            <a href="https://github.com/jakartaee/jakartablogs.ee#guidelines" target="_blank">guidelines</a> and then open a <a href="https://github.com/jakartaee/jakartablogs.ee/issues/new?template=add_blog.md" target="_blank">GitHub 
            issue</a> or create a pull request with your feed-specific information.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <p id="back-to-top">
      <a class="visible-xs" href="#top">Back to the top</a>
    </p>
    
    <div class="background-secondary events padding-bottom-50 padding-top-30">
      <div class="container">
        <h3 class="text-center heading-line margin-top-45"><span>Submit your event</span></h3>
        <h3 class="h5 text-center">If you have a community event you would like listed on our events page, please fill out and submit the Event Request form.</h3>
        <p class="text-center padding-top-10"><a class="btn btn-primary" href="https://goo.gl/forms/xIlhGdX1qfKCyCZn1" target="_blank">Submit Event</a></p>
      </div>
    </div>
    <footer id="solstice-footer">
      <div class="container">
        <div class="row">
          <section class="col-sm-6 hidden-print" id="footer-eclipse-foundation">
            <h2 class="section-title">Eclipse Foundation</h2>
            <ul class="nav">
              <li><a href="https://www.eclipse.org/org/">About Us</a></li>
              <li><a href="https://www.eclipse.org/org/foundation/contact.php">Contact Us</a></li>
              <li><a href="https://www.eclipse.org/donate">Donate</a></li>
              <li><a href="https://www.eclipse.org/org/documents/">Governance</a></li>
              <li><a href="https://www.eclipse.org/artwork/">Logo and Artwork</a></li>
              <li><a href="https://www.eclipse.org/org/foundation/directors.php">Board of Directors</a></li>
            </ul>
          </section>
          <section class="col-sm-6 hidden-print" id="footer-legal">
            <h2 class="section-title">Legal</h2>
            <ul class="nav">
              <li><a href="https://www.eclipse.org/legal/privacy.php">Privacy Policy</a></li>
              <li><a href="https://www.eclipse.org/legal/termsofuse.php">Terms of Use</a></li>
              <li><a href="https://www.eclipse.org/legal/copyright.php">Copyright Agent</a></li>
              <li><a href="https://www.eclipse.org/legal/epl-2.0/">Eclipse Public License</a></li>
              <li><a href="https://www.eclipse.org/legal/">Legal Resources </a></li>
            </ul>
          </section>
          <section class="col-sm-6 hidden-print" id="footer-useful-links">
            <h2 class="section-title">Useful Links</h2>
            <ul class="nav">
              <li><a href="https://bugs.eclipse.org/bugs/">Report a Bug</a></li>
              <li><a href="//help.eclipse.org/">Documentation</a></li>
              <li><a href="https://www.eclipse.org/contribute/">How to Contribute</a></li>
              <li><a href="https://www.eclipse.org/mail/">Mailing Lists</a></li>
              <li><a href="https://www.eclipse.org/forums/">Forums</a></li>
              <li><a href="//marketplace.eclipse.org">Marketplace</a></li>
            </ul>
          </section>
          <section class="col-sm-6 hidden-print" id="footer-other">
            <h2 class="section-title">Other</h2>
            <ul class="nav">
              <li><a href="https://www.eclipse.org/ide/">IDE and Tools</a></li>
              <li><a href="https://www.eclipse.org/projects">Community of Projects</a></li>
              <li><a href="https://www.eclipse.org/org/workinggroups/">Working Groups</a></li>
              <li><a href="https://www.eclipse.org/org/research/"><span class="__cf_email__" data-cfemail="adffc8dec8ccdfcec5ede8cec1c4dddec8">[email&#160;protected]</span></a></li>
              <li><a href="https://status.eclipse.org">Service Status</a></li>
            </ul>
          </section>
          <div class="col-sm-24 margin-top-20">
            <div class="row">
              <div id="copyright" class="col-md-16">
                <p id="copyright-text">Copyright &copy; Eclipse Foundation, Inc. All Rights Reserved.</p>
              </div>
              <div class="col-md-8 social-media">
                <ul class="list-inline">
                  <li>
                    <a class="social-media-link fa-stack fa-lg" href="https://twitter.com/EclipseFdn">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                    </a>
                  </li>
                  <li>
                    <a class="social-media-link fa-stack fa-lg" href="https://plus.google.com/+Eclipse">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-google-plus fa-stack-1x"></i>
                    </a>
                  </li>
                  <li>
                    <a class="social-media-link fa-stack fa-lg" href="https://www.facebook.com/eclipse.org">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                    </a>
                  </li>
                  <li>
                    <a class="social-media-link fa-stack fa-lg" href="https://www.youtube.com/user/EclipseFdn">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-youtube fa-stack-1x"></i>
                    </a>
                  </li>
                  <li>
                    <a class="social-media-link fa-stack fa-lg" href="https://www.linkedin.com/company/eclipse-foundation">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <a href="#" class="scrollup">Back to the top</a>
        </div>
      </div>
    </footer>
    <script src="//jakarta.ee/js/solstice.js"></script>
  </body>
</html>
